{% extends "base.html" %}

{% block content %}
	<h1>Sign in</h1>

	<form action="" method="post" name="login">
		{{form.csrf_token}}

		<p>
			<label>nickname
			{{form.nickname(size=80)}}<br>
			</label>

			{% for error in form.nickname.errors %}
				<span style="color:red">[{{error}}]</span>
			{% endfor %}
		</p>

		<p>
			<label>password
			{{form.password(size=80)}}<br>
			</label>

			{% for error in form.password.errors %}
				<span style="color:red">[{{error}}]</span>
			{% endfor %}
		</p>

		<p>
			{{form.remember_me}} Remember me
		</p>
		
		<p>
			<input type="submit" value="Sign in">
		</p>
	</form>
{% endblock %}